

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap');

html{
    scroll-behavior: smooth; 
   overflow-x: hidden;
   
}

.main-container{
    /* cursor: url('https://raw.githubusercontent.com/Godsont/Custom-Cursor/main/img/custom-cursor.png'), auto; */
    cursor: url('images/red.png'), auto;
    
   
}
/* .main-container-c{
   cursor: url('images/black.jpg'),auto;
} */
/* @import url(color-1.css); */
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700: #504e70;

}

body.dark{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700: #e9e9e9;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
::before,::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
  margin-top: -22px;
    padding: 0 30px;
    left: 270px;
    opacity: 1;
    /* position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    /* z-index: 0; */
    /* overflow-y: auto;
    overflow-x: hidden; */ 

    transition: all 0.3s ease;



}
.section.active{
    z-index: 2;
    opacity: 1;
    animation: slide 1s ease;
}

.main-content{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right:15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right:-15px ;
    position: relative;
}
.btn{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    font-weight: 700;
    display: inline-block;
    border: none;
    margin-top: 20px;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
    
}

.btn:hover{
    transform: scale(1.05);
}
/* aside */
.aside{
    
    width: 270px;
    background:var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right:1px solid var(--bg-black-50);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a{
color: var(--text-black-900);
font-weight: 700;
/* background: red; */
padding: 15px 20px;
letter-spacing: 5px;
font-size: 30px;
letter-spacing: 5px;
position: relative;
}

.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size:50px ;
}

.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
    
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top : 0;
    right: 0;

}
.aside .nav{
    margin-top: 50px;

}
.aside .nav li{
    margin-bottom: 20px;
   
    display: block;
}

.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #b6b6b66e;
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active{
    color: var(--skin-color);
}

.aside .nav li a i{
    margin-right: 15px;
}
.aside .nav-toggle{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    right: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.aside .nav-toggle.open span{
    background: transparent;
}
.aside .nav-toggle span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggle.open span::before{
    transform: rotate(45deg);
    top: 0;
    transition: all 1s ease;
}
.aside .nav-toggle span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggle span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    bottom: -6px;
    left: 0;
}
.aside .nav-toggle.open span::after{
    transform: rotate(-45deg);
    top: 0;    
    transition: all 1s ease;

}
/* home */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    margin-top: -22px;
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;

}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    

}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
   
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
     right: 20px;
     bottom: -40px;
}
.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
   
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
     left: 20px;
     top: -40px;
}
.home .home-img img{
    margin: auto;
    border-radius: 5px;
    height: 400px;

}
/* .hidden{
    display: none  !important;
} */
.section .container{
    padding: 60px;
    padding-bottom: 70px;

}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: red; */
    margin-bottom: 60px;

}

.section-title h2{
    font-size: 40px;
    color:  var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
/* About */
.about .about-content{
    flex: 0  0 100%;
    max-width: 100%;

}

.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;

}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);

}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
  
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex:  0 0 50%;
    max-width: 50%;
    margin-top: 10px;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .info-item .buttons{
    margin-top: 25px;
}
.about .about-content .personal-info .info-item .buttons .btn{
    /* margin-right: 15px; */
    margin-top: 10px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    
    margin-top: 40px;
}

.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
  margin-bottom: 4px;
}
.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
    background: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900)
    ;
    top: -40px;
    font-weight: 400;
    line-height: 40px;

}
/* service */
.service .container{
    padding:40px ;
}
.service .service-item{
    flex: 0 0 33%;
    max-width: 33%;
    margin-bottom: 30px;
}

.service .service-item .service-item-inner{
    background: var(--bg-black-100)
    ;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35s ease;
}


.service .service-item .service-item-inner:hover{
    box-shadow:0 0 20px rgba(48,46,77,0.15) ;
}
.section .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition:  all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon {
    background: var(--skin-color);
    
}
.service .service-item .service-item-inner:hover .icon .fa{
    font-size: 30px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/* portfolio */
.portfolio .container{
    padding-bottom: 40px;
}
 .portfolio-heading{
    flex:0  0 100% ;
    max-width: 100%;

}
 .portfolio-heading h2{
    color: var(--text-black-900);
font-weight: 500;
}
.portfolio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;

}


 .potfolio-item-inner{
    border: 6px solid var(--bg-black-50);
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;

}
.potfolio-item-inner:hover{
    transform: scale(1.14);
}
.portfolio img{
    width: 100%;
  display: block;
}

/* contact */
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    
}
.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;

    margin-bottom: 60px;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--bg-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
    
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;

}

.contact .contact-form  {
    flex:0 0 100% ;
    max-width: 100%;
}
.contact .contact-form .col-6{
    flex: 0  0 50%;
    max-width: 50%;
    
}
.contact .contact-form .col-12{
    flex: 0  0 100%;
    max-width: 100%;

}
.contact .contact-form .form-item{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-controle{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-controle:focus{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.contact .contact-form .form-item .form-group textarea {
    height: 140px;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}
.alert{
    
    position: fixed;
    top: 10%;
    left: 70%;
    width: 150px;
    height: 100px;
    align-items: center;
    padding: 10px;
    background: var(--bg-black-100);
    z-index: 999;
    border-radius: 20px;
    border: 1px solid var(--text-black-900);
    /* transition: all 0.3s ease; */
    animation: down 0.4s ease;
  }
  @keyframes down {
    0% {
      transform: translateY(300px) scale(0);
    }
    100% {
      transform: translateY(0px) scale(1);
    }
  }


  .alert .messege{
    margin-top: 18%;
    margin-left: 5px;
    /* transition: all 0.3s ease; */

  }
  .alert .messege h2{
    color: var(--skin-color);
    font-weight: 900;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* transition: all 0.3s ease; */

  }

  .alert-hide{
    display: none;
  }
  
@media(max-width:1199px){
    .alert{
        left:63%;
    }
    .aside{
        left: -270px;
    }
    .aside.open{
        left: 0;
        transition: all 0.3s ease;
    }
    .aside .nav-toggle{
        display: flex;
       left: 30px;
    }
    .aside.nav-toggle .open{
        left: 300px;
    }
    .section{
        left: 0;
    }
  .section.opan{
    margin-left: 270px;
    transition: all 0.4s ease;
  }
    .main-content{
        padding-left:0 ;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px){
    .contact .contact-info-item,
    .portfolio .portfolio-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img{
        display:  none;
  
    }
    .alert .messege{
        left: -50%;
    }
    
}

@media (max-width:767px){
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item, 
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .aside .nav{
        margin-top: -100px;
    }
    .socila-icons{
        margin-top: -100px;
    }
}
@media(max-width:350px){
    .aside .nav{
        margin-top: -500px;
    }
    .socila-icons{
        margin-top: -330px;
    }
}
@media (max-width:488px){
     .aside .nav{
        margin-top: -100px;
    }
    .socila-icons{
        margin-top: -205px;
    }
}
@media (max-width:444px){
    .alert{
        left: 50%;
    }
    /* .aside .nav{
        margin-top: -150px;
    }
    .socila-icons{
        margin-top: -250px;
    } */
}


@media (max-width:410px){
    .aside .nav{
        margin-top: -430px;
    }
    .socila-icons{
        margin-top: -480px;
    }
    
}
.alert {
    margin-left: -20%;
}
.socila{
    width: 40px;
    height: 40px;
}

.socila .socila-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    position: absolute;
    top: 90%;
    right: 50%;
    /* margin: 10px; */
}
.socila a {
   margin: 20%;
   color: var(--skin-color);
   font-size: 18px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--skin-color);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: var(--bg-black-900)    ;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--skin-color);
    border-radius: 50px;
    border: 3px solid var(--bg-black-100);
  }

 


  /* fire fox scroll bar*/

  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: var(--bg-black-900);
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: var(--skin-color);
  }
*{

    scrollbar-color: var(--skin-color) var(--bg-black-900) !important;

    scrollbar-width: thin !important;
    
} 


/** custome cursore */


.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid var(--skin-color);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 10000;
}

.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border:6px solid var(--text-black-900);
    border-radius: 50%;
    opacity: .5;
    top: -1px;
    left: -1px;
    
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid var(--skin-color);
}
